# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you may wish to
# edit before committing.
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android related
android/.gradle/
android/captures/
android/app/*.keystore
android/app/*.jks
android/app/debug/
android/app/profile/
android/app/release/

# iOS/Xcode related
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
**/*.xcuserstate
**/*.xcworkspace
**/*.xcodeproj/project.xcworkspace/
**/*.xcodeproj/xcuserdata/

# Web related
web/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# macOS related
macos/Flutter/ephemeral/
macos/Pods/

# Linux related
linux/flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/

# Fuchsia related
fuchsia/.packages

# Coverage
coverage/

# Firebase
*.firebase

# Crashlytics
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Generated plugin registrant
lib/generated_plugin_registrant.dart
